{% extends "base.html" %}
{% block content %}
<h2>Liste des Factures</h2>

<a href="{% url 'facture_creer' %}" class="btn btn-success mb-3">Nouvelle facture</a>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Client</th>
            <th>Service</th>
            <th>Laveur</th>
            <th>Montant</th>
            <th>Commission</th>
            <th>Entreprise</th>
            <th>Statut</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for f in factures %}
        <tr>
            <td>{{ f.numero_facture }}</td>
            <td>{{ f.nom_client }}</td>
            <td>{{ f.service.nom }}</td>
            <td>{{ f.laveur.nom_complet }}</td>
            <td>{{ f.montant_total }} FCFA</td>
            <td>{{ f.commission_laveur }} FCFA</td>
            <td>{{ f.part_entreprise }} FCFA</td>
            <td>{{ f.statut }}</td>
            <td>{{ f.date_heure|date:"d/m/Y H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
