{% extends "gestion/base.html" %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Services</h1>
<div class="overflow-x-auto">
    <table class="min-w-full bg-white">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">Nom</th>
                <th class="py-2 px-4 border-b">Prix</th>
                <th class="py-2 px-4 border-b">Commission</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="py-2 px-4 border-b">Lavage Complet</td>
                <td class="py-2 px-4 border-b">1000 XAF</td>
                <td class="py-2 px-4 border-b">300 XAF</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
